EM_SERVER_PORT=
EN_SERVER_PORT=

EM_DB_URL=
EM_DB_DATABASE=
EM_DB_USERNAME=
EM_DB_PASSWORD=
EM_DB_PORT=

EN_DB_URL=
EN_DB_DATABASE=
EN_DB_USERNAME=
EN_DB_PASSWORD=
EN_DB_PORT=

JWT_SECRET=
JWT_ISSUER=
JWT_TTL=

APP_ADMIN_USERNAME=
APP_ADMIN_PASSWORD=

KAFKA_CLUSTER_ID=
KAFKA_BROKER_PORT=